@model MLT.Models.Aircraft

@{
    ViewData["Title"] = "Debug";
}

<h1>Debug</h1>

<h4>Aircraft</h4>
<hr />
<div>
    <h1>You should not have access to this.</h1>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

